#formArea {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.mainHeading {
    text-align: center;
    margin-bottom: 10px;

}

/* css of calender */


#doctorArea{
    margin-top: 50px;
}

#allTiming{
    display: grid;
    flex-wrap: wrap;

    margin: 20px;

    gap: 30px;

    grid-template-columns: repeat(3,auto);

}

#allTiming> div{
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 20px;
}

#allTiming>div>p{
    margin: 10px;
    text-align: center;
    color: blue;
}